name: "Release"
on:
  push:
    branches:
      - main
    tags:
      - '!*'

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Cut a release on GitHub
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: make a new release PR
        uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.CUSTOM_GITHUB_PERSONAL_TOKEN }}
          config-file: .release-please-config.json
